ESP32-GoogleAssistant-MQTT-NodeRed/Copia e Cola no Node-Red.md
[
    {
        "id": "8e600a1d9cc6877a",
        "type": "tab",
        "label": "ESP32 e Google Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13e2b7aeb791786d",
        "type": "debug",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "94d5e78081efbff1",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 520,
        "wires": []
    },
    {
        "id": "50c566708019f05b",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "677f73033bfdea01",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "666fe101703abe94",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 660,
        "wires": []
    },
    {
        "id": "2b3a5e6c865b5a25",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Forte da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Forte",
        "name": "Lâmpada Bancada Forte",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "13e2b7aeb791786d",
                "fe0e8995374b95d4"
            ]
        ]
    },
    {
        "id": "645fe0a9ccf3ec8b",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Fraca da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Fraca",
        "name": "Lâmpada da Bancada Fraca",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "13e2b7aeb791786d",
                "677f73033bfdea01"
            ]
        ]
    },
    {
        "id": "7950712dd4c9cd16",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 4",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 4",
        "name": "Interruptor 4",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "13e2b7aeb791786d",
                "94d5e78081efbff1"
            ]
        ]
    },
    {
        "id": "d5d6febd84ac0471",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 3",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": false,
        "brightnessoverride": "",
        "roomhint": "Interruptor 3",
        "name": "Interruptor 3",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "13e2b7aeb791786d",
                "50c566708019f05b"
            ]
        ]
    },
    {
        "id": "7370dfbd73b8395c",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 5",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 5",
        "name": "Interruptor 5",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "666fe101703abe94",
                "13e2b7aeb791786d"
            ]
        ]
    },
    {
        "id": "fe0e8995374b95d4",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "7ed81dfc72166e7b",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 1",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "2b3a5e6c865b5a25"
            ]
        ]
    },
    {
        "id": "c065ca3c51ccb9ea",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 3",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 380,
        "wires": [
            [
                "d5d6febd84ac0471"
            ]
        ]
    },
    {
        "id": "c8880e410df060dd",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 4",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "7950712dd4c9cd16"
            ]
        ]
    },
    {
        "id": "84ab522d24a2b493",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 5",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "7370dfbd73b8395c"
            ]
        ]
    },
    {
        "id": "5cb80c0bf641d7a5",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 2",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "645fe0a9ccf3ec8b"
            ]
        ]
    },
    {
        "id": "03fa7ff17c898856",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.15.30",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bf2335351d119ded",
        "type": "noraf-config",
        "name": "Nora",
        "group": "Casa",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robson's House",
        "storeStateInContext": true,
        "disableValidationErrors": false
    }
]