ESP32-GoogleAssistant-MQTT-NodeRed-Original/Código All Flows.json
[
    {
        "id": "8e600a1d9cc6877a",
        "type": "tab",
        "label": "ESP32 e Google Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "992895baa1b72685",
        "type": "tab",
        "label": "Interruptores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1609a41d0822de3",
        "type": "tab",
        "label": "Sensores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03fa7ff17c898856",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.15.30",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bf2335351d119ded",
        "type": "noraf-config",
        "name": "Nora",
        "group": "Casa",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robson's House",
        "storeStateInContext": true,
        "disableValidationErrors": false
    },
    {
        "id": "01e8471f601a784f",
        "type": "ui_tab",
        "name": "Meu Quarto",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "801d637ee027ae41",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#000000",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#102702",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#102702",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#404040",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#00ffee",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#e60a0a",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#1f1e1e",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#00ff11",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#504e4e",
                    "edited": true
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IoT - INTERNET DAS COISAS",
            "hideToolbar": "false",
            "allowSwipe": "mouse",
            "lockMenu": "true",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4614960837bd6a0b",
        "type": "ui_group",
        "name": "Interruptores",
        "tab": "01e8471f601a784f",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d474fbe5cbb2ee6c",
        "type": "ui_group",
        "name": "DHT22",
        "tab": "01e8471f601a784f",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13e2b7aeb791786d",
        "type": "debug",
        "z": "8e600a1d9cc6877a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "94d5e78081efbff1",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 520,
        "wires": []
    },
    {
        "id": "50c566708019f05b",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "677f73033bfdea01",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "666fe101703abe94",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 660,
        "wires": []
    },
    {
        "id": "2b3a5e6c865b5a25",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Forte da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Forte",
        "name": "Lâmpada Bancada Forte",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "13e2b7aeb791786d",
                "fe0e8995374b95d4"
            ]
        ]
    },
    {
        "id": "645fe0a9ccf3ec8b",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Lâmpada Fraca da Bancada",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Lâmpada da Bancada Fraca",
        "name": "Lâmpada da Bancada Fraca",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "13e2b7aeb791786d",
                "677f73033bfdea01"
            ]
        ]
    },
    {
        "id": "7950712dd4c9cd16",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 4",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 4",
        "name": "Interruptor 4",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "13e2b7aeb791786d",
                "94d5e78081efbff1"
            ]
        ]
    },
    {
        "id": "d5d6febd84ac0471",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 3",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": false,
        "brightnessoverride": "",
        "roomhint": "Interruptor 3",
        "name": "Interruptor 3",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "13e2b7aeb791786d",
                "50c566708019f05b"
            ]
        ]
    },
    {
        "id": "7370dfbd73b8395c",
        "type": "noraf-light",
        "z": "8e600a1d9cc6877a",
        "devicename": "Interruptor 5",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": true,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Interruptor 5",
        "name": "Interruptor 5",
        "colortype": "hsv",
        "nora": "bf2335351d119ded",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "666fe101703abe94",
                "13e2b7aeb791786d"
            ]
        ]
    },
    {
        "id": "fe0e8995374b95d4",
        "type": "mqtt out",
        "z": "8e600a1d9cc6877a",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "7ed81dfc72166e7b",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 1",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "2b3a5e6c865b5a25"
            ]
        ]
    },
    {
        "id": "c065ca3c51ccb9ea",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 3",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 380,
        "wires": [
            [
                "d5d6febd84ac0471"
            ]
        ]
    },
    {
        "id": "c8880e410df060dd",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 4",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "7950712dd4c9cd16"
            ]
        ]
    },
    {
        "id": "84ab522d24a2b493",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 5",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "7370dfbd73b8395c"
            ]
        ]
    },
    {
        "id": "5cb80c0bf641d7a5",
        "type": "mqtt in",
        "z": "8e600a1d9cc6877a",
        "name": "Ligar Interruptor 2",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "645fe0a9ccf3ec8b"
            ]
        ]
    },
    {
        "id": "df85eba5e6cff97f",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor6",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "8eceb362c651cae7",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor7",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "69a7ee17c190cb4f",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor8",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 680,
        "wires": []
    },
    {
        "id": "b5de2f667e990905",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "interruptor 6",
        "label": "Interruptor 6",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor6",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "df85eba5e6cff97f",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "96d0db3e64ae4df6",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "Interruptor 7",
        "label": "Interruptor 7",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor7",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "8eceb362c651cae7",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "c1ce9ced43ba2197",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "Interruptor 8",
        "label": "Interruptor 8",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor8",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "69a7ee17c190cb4f",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "71b1bffac98bb18c",
        "type": "debug",
        "z": "992895baa1b72685",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "c1d620d62e465dc2",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "482eb66815a8defb",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "66fdaac18701110d",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "a02bd03143e3a00c",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "",
        "label": "Lâmpada da Bancada Fraca",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor2",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "c1d620d62e465dc2",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "4cbc0922ff2afafd",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "Interruptor 3",
        "label": "Interruptor 3",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor3",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "482eb66815a8defb",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "029ef3548add407b",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "Interruptor 4",
        "label": "Interruptor 4",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor4",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "66fdaac18701110d",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "604d3be38e09a2a0",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a5f6ea838c15e9c",
        "type": "mqtt out",
        "z": "992895baa1b72685",
        "name": "Envia ao Broker",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03fa7ff17c898856",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "8116924eba6cd1ba",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "Interruptor 5",
        "label": "Interruptor 5",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor5",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligao",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "4a5f6ea838c15e9c",
                "71b1bffac98bb18c"
            ]
        ]
    },
    {
        "id": "d5350c573cc29f21",
        "type": "mqtt in",
        "z": "992895baa1b72685",
        "name": "Ligar Interruptor 1",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "qos": "2",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "779c02d7b4100bf8",
        "type": "ui_switch",
        "z": "992895baa1b72685",
        "name": "",
        "label": "Lâmpada da Bancada Forte",
        "tooltip": "",
        "group": "4614960837bd6a0b",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "ESP32-MinhaCasa/QuartoRobson/LigarInterruptor1",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "Ligado",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "Desligado",
        "offcolor": "#FFAAAA",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "71b1bffac98bb18c",
                "604d3be38e09a2a0"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "ba13dbb0ceaee649",
        "type": "ui_button",
        "z": "992895baa1b72685",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "276e68f36a4d0b2e",
        "type": "mqtt in",
        "z": "d1609a41d0822de3",
        "name": "Leitura da Temperatura",
        "topic": "ESP32-MinhaCasa/QuartoRobson/Temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "a33a4e629b26e836",
                "fd1e4ee44931e344"
            ]
        ]
    },
    {
        "id": "a33a4e629b26e836",
        "type": "debug",
        "z": "d1609a41d0822de3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "f296de94be084660",
        "type": "mqtt in",
        "z": "d1609a41d0822de3",
        "name": "Leitura da Umidade",
        "topic": "ESP32-MinhaCasa/QuartoRobson/Umidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "03fa7ff17c898856",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "a33a4e629b26e836",
                "b59c6c1750f65df6"
            ]
        ]
    },
    {
        "id": "fd1e4ee44931e344",
        "type": "ui_gauge",
        "z": "d1609a41d0822de3",
        "name": "",
        "group": "d474fbe5cbb2ee6c",
        "order": 1,
        "width": "11",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00ff00",
            "#fe5a01",
            "#ff0000"
        ],
        "seg1": "28",
        "seg2": "30",
        "className": "",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "b59c6c1750f65df6",
        "type": "ui_gauge",
        "z": "d1609a41d0822de3",
        "name": "",
        "group": "d474fbe5cbb2ee6c",
        "order": 3,
        "width": "11",
        "height": "4",
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ff7b00",
            "#ff0000"
        ],
        "seg1": "30",
        "seg2": "80",
        "className": "",
        "x": 940,
        "y": 520,
        "wires": []
    }
]